.aCard {
    border: 1px dotted rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    cursor: pointer;
    background: white;
    overflow: hidden;
    padding: 8px;

    &__content {
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        margin: 16px auto;

        & > * {
            width: 100%;
            text-align: center;
            line-height: 1.5;

            &:hover,
            &:visited {
                text-decoration: none;
            }
        }
    }
}