.tSearchResultContent {
    min-height: 100vh;
    padding-top: 80px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__loadMore {
        align-items: center;
        margin: 0 auto;
        height: 200px;
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
    }
}